<nav
  class="sticky top-0 z-30 flex justify-center items-center w-full px-4 py-4 my-0 mb-8 backdrop-filter backdrop-blur-lg bg-opacity-10 firefox:bg-opacity-90 border-b border-primary">
  <div class="flex justify-between items-center max-w-2xl w-full">
    <div class="text-primary font-semibold">
      <a aria-current="page" class="cursor-pointer" routerLink="/">Anastasios Theodosiou</a>
    </div>
    <div class="flex items-center space-x-4 justify-evenly text-primary">
      <a aria-current="page" class="cursor-pointer" routerLink="/">Home</a>
      <a class="cursor-pointer" routerLink="/about">About</a>
      <a class="cursor-pointer" routerLink="/blog">Blog</a>
      <a class="cursor-pointer" routerLink="/contact">Contact</a>
      <!-- <button type="button" class="rounded-md p-2 bg-secondary">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20"
          class="text-secondary text-2xl cursor-pointer" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
        </svg>
      </button> -->
    </div>
  </div>
</nav>