<div class="min-h-screen px-4 mx-auto max-w-screen-sm md:max-w-2xl flex flex-col">
  <main class="flex-grow">
    <section class="mb-16">
      <h2 class="sm:text-lg sm:leading-snug font-semibold tracking-wide uppercase text-yellow-500 mb-3">About Me</h2>
      <p class="text-primary text-3xl sm:text-5xl lg:text-5xl leading-none font-extrabold tracking-tight mb-4">
        Here's my story.
      </p>
      <div class="text-secondary prose-lg mb-6">
        <p class="mb-4">I’m Anastasios, a software engineer and creative coder who has a passion for the front-end
          spectrum.</p>
        <p class="mb-4">I come from <a class="underline text-yellow-500 hover:text-yellow-600 "
            href="https://www.google.com/maps/place/%CE%91%CE%BB%CE%B5%CE%BE%CE%B1%CE%BD%CE%B4%CF%81%CE%BF%CF%8D%CF%80%CE%BF%CE%BB%CE%B7+681+00/@40.8429547,25.8404621,12.75z/data=!4m5!3m4!1s0x14b21c9f5c02c8d5:0xbab0f92b441e41e3!8m2!3d40.8457193!4d25.873962"
            target="_blank" rel="noreferrer">Alexandroupolis, Evrou, GR</a> but since 2017 I live and work in
          <a class="underline text-yellow-500 hover:text-yellow-600 "
            href="https://www.google.com/maps/place/%CE%98%CE%B5%CF%83%CF%83%CE%B1%CE%BB%CE%BF%CE%BD%CE%AF%CE%BA%CE%B7/@40.6169853,22.9703081,11.96z/data=!4m5!3m4!1s0x14a838f41428e0ed:0x9bae715b8d574a9!8m2!3d40.6400629!4d22.9444191">
            Thessaloniki, GR</a>.
        </p>
        <p class="mb-4">I love creating web applications, especialy using Angular 2+. I also deal with some back-end
          technologies like,
          Node.js ,Express, NestJS and MongoDB.</p>
        <p class="mb-4">I specialize in front-end development and make it my mission to translate user-focussed designs
          into
          pixel-perfect websites or applications that run blazing fast.</p>
        <p class="mb-4"></p>
        <p class="mb-4">I’m currently part of the team at <a class="underline text-yellow-500 hover:text-yellow-600 "
            href="https://www.intrasoft-intl.com/" target="_blank" rel="noreferrer">Intrasoft International</a> where I
          help
          to designed and built some of the largest and most complex IT systems in the European Commission.</p>
        <p>I always like learning new things and often write about my findings on my <a
            class="underline text-yellow-500 hover:text-yellow-600 " routerLink="/blog">blog</a>.
      </div>
    </section>
    <!-- <section class="mb-16">
      <div class="flex justify-between items-center">
        <div class="w-2/5 border-t border-primary mb-1"></div>
        <div
          class="w-12 h-12 rounded-xl bg-gradient-to-br flex items-center justify-center from-pink-500 to-rose-500 mb-1">
          <img
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMi45IDIwLjIzIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZTRlNjtzdHJva2U6I2ZkYTRhZjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLXdpZHRoOjJweDt9PC9zdHlsZT48L2RlZnM+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yMC4yOSwyLjYxYTUuNSw1LjUsMCwwLDAtNy43OCwwaDBMMTEuNDUsMy42NywxMC4zOSwyLjYxYTUuNSw1LjUsMCwwLDAtNy43OCw3Ljc4bDEuMDYsMS4wNiw3Ljc4LDcuNzgsNy43OC03Ljc4LDEuMDYtMS4wNmE1LjUsNS41LDAsMCwwLDAtNy43OFoiLz48L2c+PC9nPjwvc3ZnPg=="
            alt="heart icon" class="h-8 w-8 animate-pulse">
        </div>
        <div class="w-2/5 border-t border-primary mb-1"></div>
      </div>
      <div class="sc-gsTCUz bhdLno">
        <div direction="rtl" class="sc-dlfnbm dCwFJp" style="animation-duration: 91.4286s;">
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Angular</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Valorant</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">React</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Running</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Gatsby</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Apex Legends</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Panda Express</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Dr. Pepper</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Basketball</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Apple Products</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Street Tacos</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">CodePen</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Test Driven Development</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Public Speaking</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Christmas Time</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Lord of the Rings</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">TailwindCSS</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Movie Music Scores</p>
          </div>
        </div>
        <div direction="rtl" class="sc-dlfnbm dCwFJp" style="animation-duration: 91.4286s;">
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Angular</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Valorant</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">React</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Running</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Gatsby</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Apex Legends</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Panda Express</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Dr. Pepper</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Basketball</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Apple Products</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Street Tacos</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">CodePen</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Test Driven Development</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Public Speaking</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Christmas Time</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Lord of the Rings</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">TailwindCSS</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Movie Music Scores</p>
          </div>
        </div>
        <div direction="rtl" class="sc-dlfnbm dCwFJp" style="animation-duration: 91.4286s;">
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Angular</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Valorant</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">React</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Running</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Gatsby</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Apex Legends</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Panda Express</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Dr. Pepper</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Basketball</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Apple Products</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Street Tacos</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">CodePen</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Test Driven Development</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Public Speaking</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Christmas Time</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Lord of the Rings</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">TailwindCSS</p>
          </div>
          <div class="sc-bdfBwQ cSjMpd" style="left: 0px; top: 0px;">
            <p class="text-2xl lg:text-3xl font-extrabold text-primary ml-16">Movie Music Scores</p>
          </div>
        </div>
      </div>
      <div class="w-full border-t border-primary mb-1 mt-7"></div>
    </section> -->
    <section class="mb-16">
      <h2 class="sm:text-lg sm:leading-snug font-semibold tracking-wide uppercase text-indigo-500 mb-3">Timeline</h2>
      <p class="text-primary text-3xl sm:text-5xl lg:text-5xl leading-none font-extrabold tracking-tight mb-16">Some
        things to note.</p>
      <div>
        <div class="flex justify-center items-center space-x-4 mb-4">
          <h2 class="text-2xl lg:text-3xl font-extrabold text-primary">2021</h2>
          <div class="border-t border-primary w-full"></div>
        </div>
        <div>
          <div class="flex items-start ml-4">
            <div
              class="w-5 h-5 flex-none bg-gradient-to-br from-cyan-400 to-lightBlue-500 text-white rounded-full flex justify-center items-center mt-2">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="text-lg"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="ml-4">
              <p class="text-primary font-semibold  prose-lg mb-1">Started new job at Intrasoft International 💻</p>
              <p class="text-secondary prose-lg mb-6">
                Work as front-end developer at the EU sector where I help to designed and built some of the largest and
                most complex IT systems in the European Commission
              </p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="flex justify-center items-center space-x-4 mb-4">
          <h2 class="text-2xl lg:text-3xl font-extrabold text-primary">2019</h2>
          <div class="border-t border-primary w-full"></div>
        </div>
        <div>
          <div class="flex items-start ml-4">
            <div
              class="w-5 h-5 flex-none bg-gradient-to-br from-cyan-400 to-lightBlue-500 text-white rounded-full flex justify-center items-center mt-2">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="text-lg"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="ml-4">
              <p class="text-primary font-semibold  prose-lg mb-1">Got my M.Sc. in Data and Web Science 🎓</p>
              <p class="text-secondary  prose-lg mb-6">Master Thesis: <a
                  class="underline text-yellow-500 hover:text-yellow-600" target="_blank" rel="noreferrer"
                  href="https://www.slideshare.net/tasostheodosioy/distributed-link-prediction-in-large-scale-graphs-using-apache-spark-thesis">Distributed
                  Link Prediction in Large Scale Graphs
                  using Apache Spark</a> <br>

                The purpose of this master diploma thesis is to create models and experiment with various techniques of
                machine learning, both supervised and unsupervised, in order to predict links to a network of academic
                papers using document-based similarity metrics based on the characteristics of the nodes but also other
                on other structural features, of the network. Experimentation and implementation of the application took
                place using Apache Spark to manage the large data volume using the Scala programming language.</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="flex justify-center items-center space-x-4 mb-4">
          <h2 class="text-2xl lg:text-3xl font-extrabold text-primary">2017</h2>
          <div class="border-t border-primary w-full"></div>
        </div>
        <div>
          <div class="flex items-start ml-4">
            <div
              class="w-5 h-5 flex-none bg-gradient-to-br from-cyan-400 to-lightBlue-500 text-white rounded-full flex justify-center items-center mt-2">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="text-lg"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="ml-4">
              <p class="text-primary font-semibold  prose-lg mb-1">Started new job at orco.io 💻</p>
              <p class="text-secondary  prose-lg mb-6">Started a new job as an Angular front-end developer to build
                solutions
                in the field of healthcare informatics.
              </p>
            </div>
          </div>
          <div class="flex items-start ml-4">
            <div
              class="w-5 h-5 flex-none bg-gradient-to-br from-cyan-400 to-lightBlue-500 text-white rounded-full flex justify-center items-center mt-2">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="text-lg"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="ml-4">
              <p class="text-primary font-semibold  prose-lg mb-1">Started M.Sc. in Data and Web Science 📖</p>
              <p class="text-secondary  prose-lg mb-6">Postgraduate studies at the Aristotle University of Thessaloniki
                (AUTH)</p>
            </div>
          </div>
          <div class="flex items-start ml-4">
            <div
              class="w-5 h-5 flex-none bg-gradient-to-br from-cyan-400 to-lightBlue-500 text-white rounded-full flex justify-center items-center mt-2">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="text-lg"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="ml-4">
              <p class="text-primary font-semibold  prose-lg mb-1">Μoved to Thessaloniki, Greece 🚗</p>
              <p class="text-secondary  prose-lg mb-6">I moved to Thessaloniki to start my postgraduate studies</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="flex justify-center items-center space-x-4 mb-4">
          <h2 class="text-2xl lg:text-3xl font-extrabold text-primary">2015</h2>
          <div class="border-t border-primary w-full"></div>
        </div>
        <div>
          <div class="flex items-start ml-4">
            <div
              class="w-5 h-5 flex-none bg-gradient-to-br from-cyan-400 to-lightBlue-500 text-white rounded-full flex justify-center items-center mt-2">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="text-lg"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="ml-4">
              <p class="text-primary font-semibold  prose-lg mb-1">Started new job at Germanos.gr 🔧</p>
              <p class="text-secondary  prose-lg mb-6">I started working as a landline and mobile telecommunications
                services vendor to secure the money needed for my postgraduate studies.</p>
            </div>
          </div>
          <div class="flex items-start ml-4">
            <div
              class="w-5 h-5 flex-none bg-gradient-to-br from-cyan-400 to-lightBlue-500 text-white rounded-full flex justify-center items-center mt-2">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="text-lg"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="ml-4">
              <p class="text-primary font-semibold  prose-lg mb-1">Completion of military obligations 🪖</p>
              <p class="text-secondary  prose-lg mb-6">It was the last vacation of my life. Greek joke, I tease you 😅
              </p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="flex justify-center items-center space-x-4 mb-4">
          <h2 class="text-2xl lg:text-3xl font-extrabold text-primary">2014</h2>
          <div class="border-t border-primary w-full"></div>
        </div>
        <div>
          <div class="flex items-start ml-4">
            <div
              class="w-5 h-5 flex-none bg-gradient-to-br from-cyan-400 to-lightBlue-500 text-white rounded-full flex justify-center items-center mt-2">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="text-lg"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="ml-4">
              <p class="text-primary font-semibold  prose-lg mb-1">Got my B.Sc. in Computer Science and
                Telecomunications 🎓</p>
              <p class="text-secondary  prose-lg mb-6">I graduated from the former Technological Educational Institute
                of Larissa, now the University of Thessaly.</p>
            </div>
          </div>
          <div class="flex items-start ml-4">
            <div
              class="w-5 h-5 flex-none bg-gradient-to-br from-cyan-400 to-lightBlue-500 text-white rounded-full flex justify-center items-center mt-2">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="text-lg"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="ml-4">
              <p class="text-primary font-semibold  prose-lg mb-1">Finished my internship at ITBox 🖥</p>
              <p class="text-secondary  prose-lg mb-6">As a practitioner, my job was to develop applications for the
                windows platform (C#, Universal Apps) and build and maintain web pages written with JavaScript, Php and
                MySql.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>