<div class="min-h-screen px-4 mx-auto max-w-screen-sm md:max-w-2xl flex flex-col">
    <main class="flex-grow">
        <h2 class="sm:text-lg sm:leading-snug font-semibold tracking-wide uppercase text-indigo-500 mb-3">Blog</h2>
        <p class="text-primary text-3xl sm:text-5xl lg:text-5xl leading-none font-extrabold tracking-tight mb-8">
            Blogging is a conversation, not a code.</p>
        <div class="mb-12">
            <search-input [delayMs]="250" (onSearch)="onSearch($event)"></search-input>
        </div>
        <post-preview *ngFor="let article of articles" [article]="article"></post-preview>
    </main>
</div>