#search{
    // -webkit-appearance: none;
    // appearance: none;
    // background-color: purple;
    border-color: #71717a;
    border-width: 1px;
    padding: .5rem 2.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    // -moz-appearance: none;

    // &:focus{
        border-color: rgba(99, 102, 241, 1) !important;
    // }
}